.heading {
    font-size: larger;
    font-weight: 500;
}

.para {
    margin-bottom: 1em;
    text-align: justify;
}

.image-wrap {
    text-align: center;
}

@media screen and (max-width: 780px) {
    .content-wrapper .image-wrap #perception-architecture {
        width: 80%;
    }
}


